// Variables duh
$col1 : white;
$col2 : rgb(78, 67, 67);
$col3: rgba(19, 19, 19, 0.5); // Mostly used on form's background color, depending on the color class it has
$col4: rgb(179, 179, 179); 
$col4: rgba(0, 0, 0, 0.5); // Background color on Portfolio's page
$col5: rgb(255, 255, 255);

$font1 : 'Playfair Display', serif;
$font2 : 'Raleway', sans-serif;
$font3 : 'PT Serif', serif;

$mobBreakPoint : 576px;
$smlBreakPoint : 768px;
$mdBreakPoint : 992px;
$lgBreakPoint : 1200px;
$xxlBreakPoint : 1400px;