// Variables duh
$col1 : white;
$col2 : rgb(78, 67, 67);
$col3: rgb(19, 19, 19);
$col4: rgb(179, 179, 179); 
$col4: rgba(0, 0, 0, 0.5); // Background color on Portfolio's page

$font1 : 'Playfair Display', serif;
$font2 : 'Raleway', sans-serif;
$font3 : 'PT Serif', serif;

$breakpoint : 684px;