@import '_variables';
body{
    overflow-x: hidden;
}

// The style sheet follows the html flow
// Global/multiple rules are at the bottom
#navPush{
    // Should be set to the same height as navbar pretty much
    padding-bottom: 97.6px;
}
@media (max-width:$breakpoint) {
    #navPush{
        padding-bottom: 72px;
    }
    
}
#navOutter{
    z-index: 2;
    position:fixed;
    top: 0;
    width: 100vw;
    background-color: $col1;
    nav{
    margin: 0 auto;
    justify-content: center;
    max-width: 940px;
    .active{
        color: $col2 !important;
    }
    .linksCont{
        padding-left: 96px;
    }
    #navCont{
        font-family: $font2;
        font-weight: 300;
        font-size: 0.9em;
        border-top: 1px solid black;
        margin: 28px 0 31px 24px;
        padding: 16px 0 0 0;
        display: flex;
        justify-content: flex-start;
        a{
            cursor: pointer;
            align-self: flex-start;
            color: $col3;
            text-decoration: none;
        }
        a:hover{
            color:black;
        }
        div{
            a{
                padding-right: 24px;
            }
        }
        } 
    .mobile{
        display:none;
    }
    }
}
@media (max-width:$breakpoint) { // Mobile view
#navOutter{
        nav{
            .mobile{
                display:block;
            }
            .desktop{
                display: none;
            }
            #navCont{
                margin: 4px 24px;
                .linksCont{
                    display:flex;
                    justify-content: space-around;
                    width: 100%;
                    padding: 0;
                    .mobile{
                        cursor: pointer;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        text-align: center;
                        img{
                        filter: brightness(60%);
                        // filter:invert(1);
                        width: 24px;
                        }
                        a{
                            padding-right: 0;
                        }
                    }
                    .active{
                        img{
                            filter: invert(1);
                        }
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

#topSpacing{
    height: 560px;
    background-image: url("Images/background.jpg");
    background-position: center;
    background-attachment: fixed;
}


#EmailFormCont{
    form{
        padding:0 24px 200px 24px;
        text-align: left;
        min-height: 616px;
        h2{
            padding-bottom: 36px;
            padding-top: 112px;
            font-family: $font1;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 2.5rem;
        }
        .formInCont{
            .inputRequired{
                display: flex;
                div:nth-of-type(1){
                    padding-right: 32px;
                }
            }
        }
        .input{
            max-width:960px;
            border: 1px solid $col3;
            border-bottom: 1px solid $col1;
            margin-bottom: 16px;
            padding-bottom: 4px;
        }
        .input:focus{
            box-shadow: 0px -1px 3px $col1;
    
            outline: none;
        }
        .required{
            color: red !important;
        }
        .required:focus{
            color: $col1 !important;
        }
        .single{
            width: 445px;
        }
        #btnDiv{
            display:flex;
            justify-content: center;
            width: 100%;
        }
        button{
            border-radius: 4px;
            margin: 12px;
            padding:6px 12px;
            text-align: center;
            border: none;
            font-style: italic;
            transition: 0.3s;
        }
        button:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 2px rgb(255, 255, 255);
        }
    }
    form, .col1{ // Unique color themes for inputs, kinda
        background-color: $col3;
        
        
        .input{
            background-color: $col3;
            color: $col1;
            border-color: $col3;
            border-bottom-color: $col1;
        }
        .input:hover{
            border-color: $col1;
        }
        .input:focus{
            border-color: $col1;
            box-shadow: 0px -1px 3px $col1;
        }
        button{
        
            background-color: $col1;
            color: $col2;
        }
        button:hover{
            box-shadow: 0px 0px 2px rgb(255, 255, 255);
            background-color: $col4;
            color: $col1;
        }
    }
    form, .col2{ // Unique color themes for inputs, kinda
        background-color: rgba(255, 255, 255, 0);


        .input{
            background-color: rgba(255, 255, 255, 0);
            color: $col2;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: $col2;
        }
        .input:hover, input:focus{
            border-color: $col2;
        }


        button{
            background-color: $col2;
            color: $col1;
        }
        button:hover{
            box-shadow: 0px 0px 2px rgb(255, 255, 255);
            background-color: $col4;
            color: $col1;
        }
    }
}
@media (max-width:$breakpoint) { // Mobile view
    #EmailFormCont{
        .inputRequired{
            flex-direction: column;
        }
        form{
            .formInCont{
                div{
                    padding-right: 0 !important;
                }
                h5{
                    text-align: center;
                }
                input{
                    width: 80vw;
                }
                textarea{
                    width: 80vw;
                }
            }
            #btnDiv{
                position: absolute;
                left: 0;
                width:100vw;
            }
        }
        h2{
            text-align: center;
        }
        
    }
}

footer{
    font-family: $font1;
    h4{
        padding-top: 24px;
        font-size: 1.25em;
    }
    h5{
        font-family: $font2;
        font-weight: 300;
        font-size: 0.8em;
    }
    h5:nth-of-type(1){
        padding-top:24px;
    }
    #imageDiv{
        display:flex;
        justify-content: center;
        padding-top: 28px;
        padding-bottom: 48px;
        a{
            margin: 0 12px;
            display: block;
            $size : 24px;
            width:  $size;
            height: $size;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    h5:nth-of-type(2){
        padding-bottom: 24px;
    }
}
#map{
    width: 320px;
    height: 320px;
    
}
.contactDiv{
    height: 100%;
    color: $col1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .contactContainer{
        margin: auto;
        height:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3{
            flex-grow: 0.5;
            font-family: $font1;
            text-transform: uppercase;
            padding-top: 120px;
        }
        .contDiv{
        padding-left: 8px;
        margin: 8px 0;
        .topDiv{
            display:flex;
            justify-content: flex-start;
            align-items: center;
        }
        span{
            width:  24px;
            height: 24px;
            background-color: $col1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                filter: brightness(0.25);
                color: black;
                width:  12px;
                height: 12px;
            }
        }
        h4{
            padding-left: 8px;
        }
        }
    } 
}
@media (max-width:$breakpoint){
.formCont{
    padding-top: 214px;
    display: inline !important;
    #map{
        width:100% !important;
        height: 320px !important;
    }
}
}

// Global rules
@keyframes screenCover{
    // from{background-color: rgba(255, 255, 255, 0);}
    
    50%{opacity: 1;}
    // to{background-color: rgb(255, 255, 255,0);}
}
#screenCover{
    width:100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0; left: 0;
    animation-name: screenCover;
    // animation-duration: 1s;
    opacity: 0;
    background-color: $col5;
}
i{
    font-family: $font1;
    font-weight: 400;
}
.innerDiv{
    max-width: 960px;
    text-align: center;
    margin:0 auto;
}
.col1{
    background-color: $col2;
    color: $col1;
}
.col2{
    background-color: $col1;
    color: $col2;
}