body {
  overflow-x: hidden;
}

#navPush {
  padding-bottom: 97.6px;
}

@media (max-width: 576px) {
  #navPush {
    padding-bottom: 72px;
  }
}
#navOutter {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
}
#navOutter nav {
  margin: 0 auto;
  justify-content: center;
  max-width: 940px;
}
#navOutter nav .active {
  color: #4e4343 !important;
}
#navOutter nav .linksCont {
  padding-left: 96px;
}
#navOutter nav #navCont {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border-top: 1px solid black;
  margin: 28px 0 31px 24px;
  padding: 16px 0 0 0;
  display: flex;
  justify-content: flex-start;
}
#navOutter nav #navCont a {
  cursor: pointer;
  align-self: flex-start;
  color: rgba(19, 19, 19, 0.5);
  text-decoration: none;
}
#navOutter nav #navCont a:hover {
  color: black;
}
#navOutter nav #navCont div a {
  padding-right: 24px;
}
#navOutter nav .mobile {
  display: none;
}

@media (max-width: 576px) {
  #navOutter nav .mobile {
    display: block;
  }
  #navOutter nav .desktop {
    display: none;
  }
  #navOutter nav #navCont {
    margin: 4px 24px;
  }
  #navOutter nav #navCont .linksCont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  #navOutter nav #navCont .linksCont .mobile {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  #navOutter nav #navCont .linksCont .mobile img {
    filter: brightness(60%);
    width: 24px;
  }
  #navOutter nav #navCont .linksCont .mobile a {
    padding-right: 0;
  }
  #navOutter nav #navCont .linksCont .active img {
    filter: invert(1);
  }
  #navOutter nav #navCont .linksCont .active a {
    color: black;
  }
}
#topSpacing {
  height: 120px;
  background-image: url("Images/background2.jpg");
  background-position: center;
  background-attachment: fixed;
}

#EmailFormCont form {
  padding: 0 24px 200px 24px;
  text-align: left;
  min-height: 616px;
}
#EmailFormCont form h2 {
  padding-bottom: 36px;
  padding-top: 112px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;
}
#EmailFormCont form .formInCont .inputRequired {
  display: flex;
}
#EmailFormCont form .formInCont .inputRequired div:nth-of-type(1) {
  padding-right: 32px;
}
#EmailFormCont form .input {
  max-width: 960px;
  border: 1px solid rgba(19, 19, 19, 0.5);
  border-bottom: 1px solid white;
  margin-bottom: 16px;
  padding-bottom: 4px;
}
#EmailFormCont form .input:focus {
  box-shadow: 0px -1px 3px white;
  outline: none;
}
#EmailFormCont form .required {
  color: red !important;
}
#EmailFormCont form .required:focus {
  color: white !important;
}
#EmailFormCont form .single {
  width: 445px;
}
#EmailFormCont form #btnDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
#EmailFormCont form #btnDivInner {
  background-color: white;
  color: #4e4343;
  border-radius: 4px;
  margin: 12px;
  padding: 9px 12px;
  text-align: center;
  border: none;
  font-style: italic;
  transition: 0.3s;
  cursor: pointer;
}
#EmailFormCont form #btnDivInner h5 {
  font-size: 1em;
  margin-bottom: 0;
}
#EmailFormCont form #btnDivInner:hover {
  background-color: rgba(19, 19, 19, 0.5);
  color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
}
#EmailFormCont form, #EmailFormCont .col1 {
  background-color: rgba(19, 19, 19, 0.5);
}
#EmailFormCont form .input, #EmailFormCont .col1 .input {
  background-color: rgba(19, 19, 19, 0.5);
  color: white;
  border-color: rgba(19, 19, 19, 0.5);
  border-bottom-color: white;
}
#EmailFormCont form .input:hover, #EmailFormCont .col1 .input:hover {
  border-color: white;
}
#EmailFormCont form .input:focus, #EmailFormCont .col1 .input:focus {
  border-color: white;
  box-shadow: 0px -1px 3px white;
}
#EmailFormCont form button, #EmailFormCont .col1 button {
  background-color: white;
  color: #4e4343;
}
#EmailFormCont form button:hover, #EmailFormCont .col1 button:hover {
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#EmailFormCont form, #EmailFormCont .col2 {
  background-color: rgba(255, 255, 255, 0);
}
#EmailFormCont form .input, #EmailFormCont .col2 .input {
  background-color: rgba(255, 255, 255, 0);
  color: #4e4343;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #4e4343;
}
#EmailFormCont form .input:hover, #EmailFormCont form input:focus, #EmailFormCont .col2 .input:hover, #EmailFormCont .col2 input:focus {
  border-color: #4e4343;
}
#EmailFormCont form button, #EmailFormCont .col2 button {
  background-color: #4e4343;
  color: white;
}
#EmailFormCont form button:hover, #EmailFormCont .col2 button:hover {
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@media (max-width: 576px) {
  #EmailFormCont .inputRequired {
    flex-direction: column;
  }
  #EmailFormCont form .formInCont div {
    padding-right: 0 !important;
  }
  #EmailFormCont form .formInCont h5 {
    text-align: center;
  }
  #EmailFormCont form .formInCont input {
    width: 80vw;
  }
  #EmailFormCont form .formInCont textarea {
    width: 80vw;
  }
  #EmailFormCont form #btnDiv {
    position: absolute;
    left: 0;
    width: 100vw;
  }
  #EmailFormCont h2 {
    text-align: center;
  }
}
footer {
  font-family: "Playfair Display", serif;
}
footer h4 {
  padding-top: 24px;
  font-size: 1.25em;
}
footer h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}
footer h5:nth-of-type(1) {
  padding-top: 24px;
}
footer #imageDiv {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 48px;
}
footer #imageDiv a {
  margin: 0 12px;
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h5:nth-of-type(2) {
  padding-bottom: 24px;
}

#map {
  width: 320px;
  height: 320px;
}

.contactDiv {
  height: 100%;
  color: #4e4343;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f8d4d4;
}
.contactDiv .contactContainer {
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactDiv .contactContainer h3 {
  margin-left: 8px;
  flex-grow: 0.5;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding-top: 120px;
}
.contactDiv .contactContainer .contDiv {
  padding-left: 8px;
  margin: 8px 0;
}
.contactDiv .contactContainer .contDiv .topDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contactDiv .contactContainer .contDiv span {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactDiv .contactContainer .contDiv span img {
  filter: brightness(0.25);
  color: black;
  width: 12px;
  height: 12px;
}
.contactDiv .contactContainer .contDiv h4 {
  padding-left: 8px;
}

@media (max-width: 576px) {
  .formCont {
    padding-top: 214px;
    display: inline !important;
  }
  .formCont #map {
    width: 100% !important;
    height: 320px !important;
  }
}
.carouselCont {
  max-width: 1136px;
  min-width: 880px;
  width: 75vw;
  margin: auto;
  padding: 48px 0;
  background-color: white;
  background-position: center;
  background-repeat: repeat;
}
.carouselCont .activeDiv .carouselImg {
  position: relative;
  display: inline-block;
  width: 100%;
  aspect-ratio: 3;
}
.carouselCont .activeDiv .carouselImg .carouselImgInner {
  display: flex;
  height: 100%;
}
.carouselCont .activeDiv .carouselImg .carouselImgInner .imgDiv {
  box-shadow: 0px 0px 24px 24px inset rgba(238, 204, 177, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 6px;
  border-radius: 12px;
  flex-grow: 0.5;
  aspect-ratio: 1;
}
.carouselCont .activeDiv .carouselImg .carouselImgInner .textDiv {
  margin-left: 8px;
  align-self: end;
  max-width: 200px;
}
.carouselCont .activeDiv .carouselImg .carouselImgInner .textDiv h4 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #4e4343;
}
.carouselCont .activeDiv .carouselImg .carouselImgInner .textDiv p {
  font-size: 1rem;
  color: rgba(19, 19, 19, 0.5);
}
.carouselCont .activeDiv .left {
  position: absolute;
  z-index: -1;
}
.carouselCont .activeDiv .right {
  position: absolute;
  z-index: -1;
}
.carouselCont .activeDiv .hide {
  visibility: hidden;
}
.carouselCont .activeDiv .fadeOut {
  -webkit-animation-name: fadeOutAnim;
          animation-name: fadeOutAnim;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
@-webkit-keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.carouselCont .activeDiv .swipeIn {
  background-color: white;
}
.carouselCont .imagePreviewCont {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 96px);
  grid-gap: 32px;
}
.carouselCont .imagePreviewCont .carouselThumbnail {
  border: 1px solid rgba(136, 136, 136, 0.5);
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: grayscale(0.5);
  cursor: pointer;
}
.carouselCont .imagePreviewCont .active {
  transition: 0.5s;
  filter: grayscale(0);
  border-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}
.carouselCont button {
  display: none;
}

@-webkit-keyframes screenCover {
  50% {
    opacity: 1;
  }
}

@keyframes screenCover {
  50% {
    opacity: 1;
  }
}
#screenCover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-animation-name: screenCover;
          animation-name: screenCover;
  opacity: 0;
  background-color: rgb(255, 255, 255);
}

i {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.innerDiv {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

.col1 {
  background-color: #4e4343;
  color: white;
}

.col2 {
  background-color: white;
  color: #4e4343;
}

.col3 {
  background-color: white;
  color: #222;
}/*# sourceMappingURL=shared.css.map */