body {
  overflow-x: hidden;
}

#navPush {
  padding-bottom: 97.6px;
}

#navOutter {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
}

#navOutter nav {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 940px;
}

#navOutter nav #navCont {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border-top: 1px solid black;
  margin: 28px 0 31px 24px;
  padding: 16px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#navOutter nav #navCont a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #4e4343;
  text-decoration: none;
}

#navOutter nav #navCont div a {
  padding-right: 24px;
}

@media screen and (max-width: 684px) {
  #navOutter nav .desktop {
    display: none;
  }
  #navOutter nav #navCont {
    margin: 4px 24px;
  }
  #navOutter nav #navCont .linksCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  #navOutter nav #navCont .linksCont .mobileIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #navOutter nav #navCont .linksCont .mobileIcon img {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
    width: 32px;
  }
  #navOutter nav #navCont .linksCont .mobileIcon a {
    padding-right: 0;
  }
}

@media screen and (min-width: 684px) {
  nav .mobile {
    display: none;
  }
  nav .linksCont {
    padding-left: 96px;
  }
}

#topSpacing {
  height: 560px;
  background-image: url("Images/background.jpg");
  background-position: center;
  background-attachment: fixed;
}

#EmailFormCont form {
  padding: 0 24px 200px 24px;
  text-align: left;
  min-height: 616px;
}

#EmailFormCont form h2 {
  padding-bottom: 36px;
  padding-top: 112px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;
}

#EmailFormCont form #inputRequired {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#EmailFormCont form #inputRequired div:nth-of-type(1) {
  padding-right: 32px;
}

#EmailFormCont form .input {
  max-width: 960px;
  border: 1px solid #131313;
  border-bottom: 1px solid white;
  margin-bottom: 16px;
  padding-bottom: 4px;
}

#EmailFormCont form .input:focus {
  -webkit-box-shadow: 0px -1px 3px white;
          box-shadow: 0px -1px 3px white;
  outline: none;
}

#EmailFormCont form .single {
  width: 445px;
}

#EmailFormCont form #btnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

#EmailFormCont form button {
  border-radius: 4px;
  margin: 12px;
  padding: 6px 12px;
  text-align: center;
  border: none;
  font-style: italic;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#EmailFormCont form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 2px white;
          box-shadow: 0px 0px 2px white;
}

#EmailFormCont form, #EmailFormCont .col1 {
  background-color: #131313;
}

#EmailFormCont form .input, #EmailFormCont .col1 .input {
  background-color: #131313;
  color: white;
  border-color: #131313;
  border-bottom-color: white;
}

#EmailFormCont form .input:hover, #EmailFormCont .col1 .input:hover {
  border-color: white;
}

#EmailFormCont form .input:focus, #EmailFormCont .col1 .input:focus {
  border-color: white;
  -webkit-box-shadow: 0px -1px 3px white;
          box-shadow: 0px -1px 3px white;
}

#EmailFormCont form button, #EmailFormCont .col1 button {
  background-color: white;
  color: #4e4343;
}

#EmailFormCont form button:hover, #EmailFormCont .col1 button:hover {
  -webkit-box-shadow: 0px 0px 2px white;
          box-shadow: 0px 0px 2px white;
  background-color: #b3b3b3;
  color: white;
}

#EmailFormCont form, #EmailFormCont .col2 {
  background-color: rgba(255, 255, 255, 0);
}

#EmailFormCont form .input, #EmailFormCont .col2 .input {
  background-color: rgba(255, 255, 255, 0);
  color: #4e4343;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #4e4343;
}

#EmailFormCont form .input:hover, #EmailFormCont form input:focus, #EmailFormCont .col2 .input:hover, #EmailFormCont .col2 input:focus {
  border-color: #4e4343;
}

#EmailFormCont form button, #EmailFormCont .col2 button {
  background-color: #4e4343;
  color: white;
}

#EmailFormCont form button:hover, #EmailFormCont .col2 button:hover {
  -webkit-box-shadow: 0px 0px 2px white;
          box-shadow: 0px 0px 2px white;
  background-color: #b3b3b3;
  color: white;
}

footer {
  font-family: "Playfair Display", serif;
}

footer h4 {
  padding-top: 24px;
  font-size: 1.25em;
}

footer h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

footer h5:nth-of-type(1) {
  padding-top: 24px;
}

footer #imageDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px;
  padding-bottom: 48px;
}

footer #imageDiv a {
  margin: 0 12px;
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h5:nth-of-type(2) {
  padding-bottom: 24px;
}

i {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.innerDiv {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

.col1 {
  background-color: #4e4343;
  color: white;
}

.col2 {
  background-color: white;
  color: #4e4343;
}
/*# sourceMappingURL=shared.css.map */